@use './variables.scss' as *;

.line {
    margin: 0 auto;
    width: 1px;
    background: $grey;
    mix-blend-mode: normal;
    opacity: 0.25;
    height: 84px;
} 

.circle {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 29px;

    &_primary {
        margin-bottom: 64px;
    }
    
    &_secondary {
        position: relative;
    }
}