$dark: #28283D;
$grey: #87879D;
$light: #FAFAFA;

$violet_dark: #855FB1; // button2
$violet_light: #D9B8FF; 
$violet_hover: #B18BDD; // button2 hover

$blue_dark: #4D96A9; // button1
$blue_light: #8FE3F9; 
$blue_hover: #71C0D4; // button1 hover

